@{
    Layout = null;
}
<html>
<head>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/semantic.js"></script>
    <link href="~/css/semantic.css" rel="stylesheet" />
    <script src="~/js/administration.js"></script>

    <link href="~/css/highlight.css" rel="stylesheet" />
    <script src="~/js/highlight.js"></script>

    <link href="~/css/administration.css" rel="stylesheet" />
    <script>hljs.highlightAll();</script>
</head>
<body>
    <h1>Sorry An Error Occured</h1>
</body>
</html>