@{
    Layout = null;
}
<html>
<head>
    <script src="~/js/jquery.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/administration.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt3">
                <img class="profile-img" src="/images/serviceunavailable.png" style="width: 100px;" />
            </div>
            <div class="row">
                <div class="col-sm-2 mt3">
                </div>
                <div class="col-sm-8 mt3">
                    <h1 class="text-center login-title">We're sorry. You cannot login at the moment</h1>
                    <h1 class="text-center">Access To <b>Application</b></h1>
                    <h5 class="text-center">Is temporarly unavailable or disabled. You can try again after sometime</h5>
                    <br/>
                    <h5 class="text-center">Or send a mail to twileloop@outlook.com</h5>
                </div>
                <div class="col-sm-2 mt3">
                </div>
            </div>            
        </div>
    </div>
</body>
</html>